# General ignores
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE files
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# Application properties - THIS IS CRUCIAL
**/application.properties
**/application-*.properties
**/*.keystore
**/*.jks

# Environment files
.env
*.env